body {
    font-family: "Raleway", sans-serif;
    color: #045258;
}
a {
    text-decoration: none;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading {
    max-width: 35rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading h1 {
    background-image: linear-gradient(#2ebaa9, #2ebaa9);
    padding: 0 0.5rem;
    color: black;
}
.link {
    letter-spacing: 1px;
    color: #045258;
    font-weight: 700;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}
.link:hover{
    color: #2ebaa9;
}
.h2 {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 500;
    text-decoration: #2ebaa9 underline 3px;
    text-underline-offset: 8px;
    font-size: 24px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
    font-weight: 700;
}
legend {
    font-weight: 700;
}

.address {
    margin-top: 10px;
}
.form-employee {
    padding: 3rem;
    background-color: white;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    margin-bottom: 1rem;
    width: 30rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.form-employee input{
    width: 100%;
    background-color: #EEF2F3;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    height: 2rem;
    color: #045258;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}
.form-employee select{
    width: 100%;
    border-radius: 2px;
    height: 2rem;
    color:#045258;
    border: 3px solid #EEF2F3;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}
button {
    background-color: #045258;
    color: white;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    padding: 0.5rem 1rem;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
}
button:hover {
    background-color: #2ebaa9;
}